.features-header{
    color:#9340ff;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
.features-page{
    padding:30px;
}

.home-header {
    color: #9340ff;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.home-page {
    padding: 30px;
}

body{
    background-color:#101728;
}
nav {
    background-color: #333;
    overflow: hidden;
  }
  nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  nav a:hover {
    background-color: #6210cd;
    color: rgb(255, 255, 255);
  }